# =============================================================================
# GLOBAL OWNERS
# =============================================================================
* @NethermindEth/nubia-admins
* @NethermindEth/nubia-general
* @NethermindEth/nubia-starknet-by-example
* @NethermindEth/nubia-starknet-by-example-admin
* @NethermindEth/role_angkor_admin
* @NethermindEth/role_legal_users
* @NethermindEth/role_nubia_admin
* @NethermindEth/security-admins

# =============================================================================
# INDIVIDUALS
# =============================================================================
* @julio4
