[workspace]
members = [
  "listings/getting-started/*",
  "listings/applications/*",
  "listings/advanced-concepts/*",
  "listings/templates/*"
]

[workspace.scripts]
test = "$(git rev-parse --show-toplevel)/scripts/test_resolver.sh"

# [workspace.tool.snforge]

[workspace.dependencies]
starknet = ">=2.6.3"
# snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.11.0" }
openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", tag="v0.11.0" }

# [workspace.dev-dependencies]
# openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", tag="v0.11.0" }

[workspace.package]
description = "Collection of examples of how to use the Cairo programming language to create smart contracts on Starknet."
repository = "https://github.com/NethermindEth/StarknetByExample"
homepage = "https://www.nethermind.io/"
license = "MIT"
authors = ["julio4", "msaug"]
version = "0.1.0"

[scripts]
test.workspace = true

[tool]
snforge.workspace = true
