# ECDSA Verification

This is the Cairo adaptation of the [Solidity by Example - Verifying Signature](https://solidity-by-example.org/signature/).
Messages can be signed off chain and then verified on chain using a smart contract.

```cairo
// [!include ~/listings/advanced-concepts/ecdsa_verification/src/ecdsa_verification.cairo:contract]
```
