# ECDSA Verification

Messages can be signed off chain and then verified on chain using a smart contract.

```rust
{{#include ../../listings/applications/ecdsa_verification/src/ecdsa_verification.cairo}}
```
