[package]
name = "simple_vault"
version.workspace = true
edition.workspace = true

[dependencies]
starknet.workspace = true
erc20 = { path = "../erc20" }

[dev-dependencies]
assert_macros.workspace = true
snforge_std.workspace = true

[scripts]
test.workspace = true

[[target.starknet-contract]]
build-external-contracts = ["erc20::token::erc20"]
