[package]
name = "crowdfunding"
version.workspace = true
edition.workspace = true

[lib]

[dependencies]
starknet.workspace = true
openzeppelin_token.workspace = true
openzeppelin_presets.workspace = true
components.workspace = true

[dev-dependencies]
assert_macros.workspace = true
snforge_std.workspace = true

[scripts]
test.workspace = true

[[target.starknet-contract]]
build-external-contracts = ["openzeppelin_presets::erc20::ERC20Upgradeable"]
