# ECDSA Verification

This is the Cairo adaptation of the [Solidity by example Verifying Signature](https://solidity-by-example.org/signature/)
Messages can be signed off chain and then verified on chain using a smart contract.

```rust
{{#include ../../listings/advanced-concepts/ecdsa_verification/src/ecdsa_verification.cairo}}
```

[Click here to interact with the deployed contract on Voyager](https://goerli.voyager.online/contract/0x070bad62072d2a30fd08a95e9de99828955cfcffc40eac8adf3b21e9970590be#writeContract)
