[package]
name = "components"
version.workspace = true
edition = '2024_07'

[lib]

[dependencies]
starknet.workspace = true

[dev-dependencies]
cairo_test.workspace = true

[scripts]
test.workspace = true

[[target.starknet-contract]]
